{% extends 'main.html' %}
{% load static %}
{% block title %}<title>Скины</title>{% endblock %}
{% block content %}

<style>
    .weather-icon {
        width: 120px;
        height: 120px;
        margin-top: 15px;
    }
    .weather-text {
        margin-top: 15px;
        color: white;
    }
    .single_menu {
        display: flex;
        flex-direction: column;
    }
    .sidebar-wrapper {
        position: absolute;
        top: 0px;
        left: 830px;
        width: 250px;
        height: 250px;
        margin: 0 auto;
        overflow: hidden;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        padding: 10px;
        box-sizing: border-box;
        z-index: 10;
    }
    .sidebar-container {
        overflow: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .sidebar-container::-webkit-scrollbar {
        display: none;
    }
    .sidebar-container select option {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .tab-pane {
        position: relative;
        height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-size: cover;
            background-position: center;
    }
    .no-skins .sidebar-wrapper {
        max-width: 100; 
    }
    .select-selected {
        background-color: rgb(255, 255, 255, 0.1);
        color: rgb(0, 0, 0);
        padding: 0px 25px;
        border: 0px solid #000000;
        cursor: pointer;
        user-select: none;
    }
    .select-items {
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        width: 100%;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        z-index: 99;
        max-height: 150px;
        overflow-y: auto;
    }
    .select-items div {
        padding: 8px 16px;
        cursor: pointer;
    }
    .select-items div:hover {
        background-color: #ddd;
    }
    .select-hide {
        display: none;
    }
    .select-items div img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: middle;
    }
    .no-items {
        text-align: center;
        color: white;
        font-size: 18px;
        margin-top: 20px;
    }
    .return-button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .return-button a {
        background-color: orange;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
    }
    .footer {
    padding: 10px 0;
    background-color: #1a0d01;
}

.footer .footer_top {
    padding: 20px 0;
}

.footer .footer_widget {
    margin-bottom: 20px;
}

.footer .footer_title {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer ul li a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

.footer ul li a img {
    vertical-align: middle;
    margin-right: 5px;
}
.pagination-container {
        position: relative; 
}
.pagination {
    position: absolute; 
    top: 0;
    right: 0;
    display: flex;
    align-items: center; 
    background-color: rgba(255, 254, 254, 0.05); 
    padding: 10px;
    border-radius: 5px;
    z-index: 10; 
    color: white; 
}

.pagination a {
    color: white;
    text-decoration: none; 
}

.pagination a:hover {
    text-decoration: underline; 
}

.pagination .current {
    color: white; 
}
    .pagination img {
        width: 30px;
        height: 30px;
        margin: 0 5px;
        cursor: pointer;
        vertical-align: middle;
    }

    .pagination .current img {
        border: 2px solid #ffffff;
        border-radius: 50%;
    }
</style>

</head>
<body>
<div class="bradcam_area bradcam_bg_2" style="background-image: url('static/img/banner/bradcam2.jpg'); background-size: cover; height: 450px; display: flex; align-items: flex-start; padding-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Скины</h3>
                    <h3 style="font-size: 24px;">Здесь вы можете легко находить предмет и переходить сразу в стим, для его покупки.</h3>
                </div>
            </div>
        </div>
        <div class="tablist_menu">
            <div class="row">
                <div class="col-xl-12">
                    <ul class="nav justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-imo-tab" data-toggle="pill" href="#pills-imo" role="tab" aria-controls="pills-imo" aria-selected="true">
                                <div class="single_menu text-center">
                                    <div class="icon">
                                        <img src="{% static 'img/icon/the-international-2016-dota-2-defense-of-the-ancients-heroes-of-newerth-heroes-of-the-storm-hero.png' %}" alt="" style="width: 150px; height: 150px;">
                                    </div>
                                    <h4 style="color: white;">Immortal</h4>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-arc-tab" data-toggle="pill" href="#pills-arc" role="tab" aria-controls="pills-arc" aria-selected="false">
                                <div class="single_menu text-center">
                                    <div class="icon">
                                        <img src="{% static 'img/icon/Tempest_Helm_Promo.png' %}" alt="" style="width: 150px; height: 150px;">
                                    </div>
                                    <h4 style="color: white;">Arcana</h4>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-weather-tab" data-toggle="pill" href="#pills-weather" role="tab" aria-controls="pills-weather" aria-selected="false">
                                <div class="single_menu text-center">
                                    <div class="icon">
                                        <img src="{% static 'img/icon/weather.png' %}" alt="" class="weather-icon">
                                    </div>
                                    <h4 class="weather-text">Погодные эффекты</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-imo" role="tabpanel" aria-labelledby="pills-imo-tab" style="background-image: url('/static/img/banner/wallpaper.jpg'); background-size: cover;">
        {% include 'skinsitems.html' with rare=rare_imo %}
        <div class="pagination">
            <span class="step-links">
                {% if rare_imo.has_previous %}
                    <a href="?page_imo=1{% if current_hero_id %}&hero_id={{ current_hero_id }}{% endif %}">&laquo; Первая</a>
                    <a href="?page_imo={{ rare_imo.previous_page_number }}{% if current_hero_id %}&hero_id={{ current_hero_id }}{% endif %}">Предыдущая</a>
                {% endif %}

                <span class="current">
                    Страница {{ rare_imo.number }} из {{ rare_imo.paginator.num_pages }}.
                </span>

                {% if rare_imo.has_next %}
                    <a href="?page_imo={{ rare_imo.next_page_number }}{% if current_hero_id %}&hero_id={{ current_hero_id }}{% endif %}">Следующая</a>
                    <a href="?page_imo={{ rare_imo.paginator.num_pages }}{% if current_hero_id %}&hero_id={{ current_hero_id }}{% endif %}">Последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
        <div class="sidebar-wrapper">
            <div class="sidebar-container">
                <div class="custom-select">
                    <div class="select-selected">Выберите героя</div>
                    <div class="select-items select-hide">
                        {% for hero in heroes %}
                            <div data-value="{{ hero.id }}" onclick="{{ hero.id }}">
                                <img src="{{ hero.icon.url }}" alt="{{ hero.title }}">
                                {{ hero.title }}
                            </div>
                        {% endfor %}
                    </div>
                    <form id="heroSelectForm" method="GET" action="{% url 'skins' %}">
                        <input type="hidden" id="heroSelect" name="hero_id" value="{{ current_hero_id }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-arc" role="tabpanel" aria-labelledby="pills-arc-tab" style="background-image: url('/static/img/banner/wallpaper.jpg'); background-size: cover;">
        {% include 'skinsitems.html' with rare=rare_arc %}
    </div>
    <div class="tab-pane fade" id="pills-weather" role="tabpanel" aria-labelledby="pills-weather-tab" style="background-image: url('/static/img/banner/wallpaper.jpg'); background-size: cover;">
        {% include 'weatheritems.html' with weather=weather %}
    </div>
</div>
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-3 ">
                    </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4 offset-xl-1">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Полезные ссылки:
            </h3>
                <ul>
                    <li>
                        <a href="https://steamcommunity.com/id/timsimpson3/" target="_blank">
                            <img src="\static\img\Steam_Logo.png" alt="Steam Logo" style="width: 20px; height: 20px; vertical-align: middle; margin-right: 5px;">
                                Мой Профиль STEAM
                                </a>
                            </li>
                            <li>
                                <a href="https://ru.dotabuff.com/players/215335290" target="_blank">
                                    <img src="\static\img\favicon.ico" alt="Dotabuff Logo" style="width: 20px; height: 20px; vertical-align: middle; margin-right: 5px;">
                                    Мой Профиль Dotabuff
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/folklore1337" target="_blank">
                                    <img src="\static\img\githublogo.png" alt="Dotabuff Logo" style="width: 20px; height: 20px; vertical-align: middle; margin-right: 5px;">
                                    Мой Профиль GitHub
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var selectSelected = document.querySelector('.select-selected');
        var selectItems = document.querySelector('.select-items');
        var selectOptions = selectItems.querySelectorAll('div[data-value]');
        var hiddenInput = document.getElementById('heroSelect');
        
        selectSelected.addEventListener('click', function() {
            selectItems.classList.toggle('select-hide');
            this.classList.toggle('select-arrow-active');
        });

        selectOptions.forEach(function(option) {
            option.addEventListener('click', function() {
                var selectedValue = this.getAttribute('data-value');
                selectSelected.innerHTML = this.innerHTML;
                hiddenInput.value = selectedValue;
                document.getElementById('heroSelectForm').submit();
                selectItems.classList.add('select-hide');
                selectSelected.classList.remove('select-arrow-active');
            });
        });

        document.addEventListener('click', function(e) {
            if (!e.target.matches('.select-selected')) {
                var selectItems = document.querySelector('.select-items');
                var selectSelected = document.querySelector('.select-selected');
                selectItems.classList.add('select-hide');
                selectSelected.classList.remove('select-arrow-active');
            }
        });
    });

    
</script>

{% endblock %}